<form action="/changepassword" method="post">
  <label for="correo">Correo: </label>
  <input type="email" placeholder="Esriba su correo" name="correo" required />
  <button>Cambiar</button></form>
{{#if aviso}}
  <p>{{aviso}} ir a: <a href="{{link}}">LOGIN</a></p>
{{else}}
{{/if}}