<div>
  <div>
    <p>USUARIO: {{user.email}}</p>
    <p style="font-variant-caps: all-petite-caps;">ROL: {{user.rol}}</p>
  </div>

  <button class="changeButton" data-id="{{user._id}}">CAMBIAR ROL</button>
  <a href="../">Volver</a>
</div>

<script src="/js/changeRol.js"></script>