<section class="resetPasswordView">
  <h2>CAMBIO DE CLAVE</h2>
  <p class="user"><span class="material-symbols-outlined iconUser">
      account_circle
    </span>
    <span class="correo">{{correo}}</span></p>

  <div>
    <form id="changePasswordForm">
      <label for="passwordOne">Nueva contraseña: </label>
      <input name="passwordOne" type="password" required />
      <label for="passwordRepeat">Repita nueva contraseña: </label>
      <input name="passwordRepeat" type="password" required />
      <button class="submitButton" type="submit">Cambiar contraseña</button>

    </form>
  </div>
</section>

<script src="/js/reset_password.js"></script>