<div>
  <h1>CAMBIO DE CLAVE</h1>
  <p>Usuario: </p>
  <p class="correo">{{correo}}</p>
  <div>
    <form id="changePasswordForm">
      <label for="passwordOne">Nueva contraseña: </label>
      <input name="passwordOne" type="password" required />
      <label for="passwordRepeat">Repita nueva contraseña: </label>
      <input name="passwordRepeat" type="password" required />
      <button type="submit">Cambiar contraseña</button>
    </form>
  </div>
</div>

<script src="/js/reset_password.js"></script>