<div>
  <section class="sectionLogger">
    <h2>TEST LOGGER</h2>
    <div class="buttonLoggers">
      <form action="/loggerTest/debug" method="GET"><button
          class="debug"
        >DEBUG</button></form>
      <form action="/loggerTest/http" method="GET"><button
          class="http"
        >HTTP</button></form>
      <form action="/loggerTest/info" method="GET"><button
          class="info"
        >INFO</button></form>
      <form action="/loggerTest/warning" method="GET"><button
          class="warning"
        >WARNING</button></form>
      <form action="/loggerTest/error" method="GET"><button
          class="error"
        >ERROR</button></form>
      <form action="/loggerTest/fatal" method="GET"><button
          class="fatal"
        >FATAL</button></form>
    </div>
    <p>{{text}}</p>
  </section>
</div>