<h2>USUARIOS REGISTRADOS</h2>
<div class="usersContainer">
  {{#each users}}
    <div class="cardUser">
      <p>Nombre: {{this.first_name}}</p>
      <p>Apellido: {{this.last_name}}</p>
      <p class="rol">{{this.rol}}</p>
      <form action="/api/users/premium/{{this._id}}" method="GET"><button
          class="buttonView"
        >Ver</button></form>
    </div>

  {{/each}}

</div>
<a class="back" href="../productsManager">Volver</a>